@font-face {
    font-family: 'Arimo';
    src: url("/fonts/Arimo-Regular.ttf");
}
@font-face {
    font-family: 'Arimo Bold';
    src: url('/fonts/Arimo-Bold.ttf');
}
body{
    background-color: black;
}
*{
    padding: 0;
    margin: 0;
}
Nav{
   border-bottom: solid white 1px; 
   display: flex;
}
.Nav{
    display: flex;
    justify-content:left;
    align-items:center;
    align-items:center;
    height: 2cm;
}
.Logo{
    width: 3cm;
}
.Pages a:any-link{
    font-family: 'Arimo';
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 25px;
}
#contact{
    align-items: center;
    position: absolute;
    right: 1cm;
    
}
.Mail{
    width: 0.9cm;
    height: 0.54cm;
    float: right;
    align-items: center;
    position: absolute;
    right: 0.5cm; 
}
.MobileNav{
    display: none;
}
@media screen and (max-width: 23cm) {
    .Pages{
        display: none;
    }
    .MobileNav{
        display: contents;
        position: relative;
        right: 0.5cm;
        flex-direction: column;
    }
   
    *{
        padding: 0;
        margin: 0;
    }
    .hamburger-button{
        display: flex;
        color: rgb(255, 255, 255);
        background-color: black;
        border: none;
        position: absolute;
        justify-content:center;
        align-content:center;
        text-align:center;
        right: 0cm;
        padding-top: 10px;
        padding-right: 10px;
    }

    #navimg{
        width: 1.5cm;
    }
    .nav-links a:any-link{
        color: rgb(255, 255, 255);
        padding-top: cm;
        padding: 1cm;
        border: solid white 1px;
        text-align: center;
        justify-content:center;
        align-items: center;  
        
    }
    .nav-links a:any-link{
      font-family: 'Arimo';
        color: white;
        text-decoration: none;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center; 
    }
    .nav-links{
        top: 2cm;
        border: solid white 1px;
        height: 100%;
        align-items: center;
        position: absolute;
        right: 0cm;
        float: left;
        float: right;
        clear: both;
    }
    .Contactdiv{
       
    }

    .contactmob{
        clear: both; 
        position: absolute;
        right: 0cm;
        left: 0cm;
        bottom: 0cm;
        float:left;
        float: right;
    }
    .Mailmob{
        align-items: center;
        width:  29px;
        height: 22px;
        padding-left: 10px;
    }
};
